# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db
